.app14 {
    width: 1170px;
    height: 316px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage14 {
    top: 25px;
    width: 1170px;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2f2f2f;
}

.lineUnderHeading14 {
    top: 70px;
    position: absolute;
    width: 1169px;
    height: 0px;
    border-bottom: 1px solid #a8a8a8;
}

/* content styles */

.content14 {
    top: 100px;
    left: calc(50% - 444px / 2);
    width: 444px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftColumn14,
.rightColumn14 {
    height: 110px;
}

.leftColumn14 {
    width: 96px;
}

.rightColumn14 {
    width: 110px;
}

.topRow14 {
    height: 50px;
}

.bottomRow14 {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
}

.topRow14 {
    margin-bottom: 20px;
}

.content14 input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    width: 56.85px;
    height: 30px;
    border: 1px solid #2f2f2f;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
}
