.app16 {
    width: 1170px;
    height: 424px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage16 {
    top: 25px;
    left: calc(50% - 770px / 2);
    width: 770px;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2f2f2f;
}

.lineUnderHeading16 {
    top: 70px;
    position: absolute;
    width: 1169px;
    height: 0px;
    border-bottom: 1px solid #a8a8a8;
}

/* content styles */

.content16 {
    top: 130px;
    left: calc(50% - 701px / 2);
    width: 701px;
    height: 154px;
}

.content12 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

#firstNumber16,
#secondNumber16,
#thirdNumber16 {
    top: 123px;
    position: absolute;
    border-radius: 5px;
    border: 1px solid #2f2f2f;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    width: 58px;
    height: 32px;
    background: #ffffff;
    box-sizing: border-box;
}

#firstNumber16 {
    left: 169px;
}

#secondNumber16 {
    left: 269px;
}

#thirdNumber16 {
    left: 463px;
}
