.app13 {
    width: 1170px;
    height: 436.13px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage13 {
    top: 25px;
    width: 1170px;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2f2f2f;
}

.lineUnderHeading13 {
    position: absolute;
    width: 1169px;
    height: 0px;
    top: 100px;
    border-bottom: 1px solid #a8a8a8;
}

/* content styles */

.content13 {
    top: 80px;
    left: calc(50% - 555px / 2);
    width: 555px;
    height: 209.15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftColumn13 {
    width: 303px;
    height: 209.15px;
}

.rightColumn13 {
    top: -17px;
    width: 161px;
    height: 31.53px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.content13 input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    width: 70px;
    height: 30px;
    border: 1px solid #2f2f2f;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    margin: 0px 10px 0px 5px;
}

.rightColumn13:not(input) {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}
