.app6 {
    width: 1170px;
    height: 451px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage6 {
    top: 25px;
    left: calc(50% - 770px / 2);
    width: 770px;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2f2f2f;
}

.lineUnderHeading6 {
    top: 100px;
    position: absolute;
    width: 1169px;
    height: 0px;
    border-bottom: 1px solid #a8a8a8;
}

/* content styles */

.content6 {
    top: 100px;
    left: calc(50% - 182px / 2);
    width: 182px;
    height: 209px;
}

.figure6 {
    width: 182px;
    height: 149px;
}

.input6 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 28px;
    left: calc(50% - 97px / 2);
    width: 177px;
    height: 30px;
}

.input6 input {
    display: flex;
    padding: 6px 16px;
    width: 64px;
    height: 30px;
    border: 1px solid #2f2f2f;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
}

.input6:not(input) {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #2f2f2f;
    text-align: center;
}
