.app7 {
    width: 1170px;
    height: 332px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage7 {
    top: 25px;
    left: calc(50% - 770px / 2);
    width: 770px;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2f2f2f;
}

.lineUnderHeading7 {
    position: absolute;
    width: 1169px;
    height: 0px;
    top: 70px;
    border-bottom: 1px solid #a8a8a8;
}

/* content styles */

.content7 {
    top: 102px;
    left: calc(50% - 760px / 2);
    width: 760px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content7 input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    width: 88px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    margin-left: 27px;
    border: 1px solid;
}
