.app15 {
    width: 1170px;
    height: 507px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage15 {
    top: 25px;
    width: 1170px;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2f2f2f;
}

.lineUnderHeading15 {
    position: absolute;
    width: 1169px;
    height: 0px;
    top: 100px;
    border-bottom: 1px solid #a8a8a8;
}

/* content styles */

.content15 {
    top: 100px;
    left: calc(50% - 339px / 2);
    width: 339px;
    height: 265px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftColumn15,
.rightColumn15 {
    width: 170px;
    height: 265px;
}

/* rows styles */

.first1row15,
.second1row15,
.third1row15,
.fourth1row15,
.fifth1row15,
.sixth1row15,
.first2row15,
.second2row15,
.third2row15,
.fourth2row15,
.fifth2row15,
.sixth2row15 {
    border: 1px solid #0995e3;
    width: 170px;
    height: 45px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
}

.first1row15,
.first2row15 {
    background-color: #abe9ff;
}

.second1row15,
.third1row15,
.fourth1row15,
.fifth1row15,
.sixth1row15,
.second2row15,
.third2row15,
.fourth2row15,
.fifth2row15,
.sixth2row15 {
    background-color: #fff;
}

.content15 input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 30px;
    background: #ffffff;
    border: 1px solid #0995e3;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
}
