.app4 {
    width: 1170px;
    height: 571px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage4 {
    top: 25px;
    left: calc(50% - 770px / 2);
    width: 770px;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2f2f2f;
}

.lineUnderHeading4 {
    top: 70px;
    position: absolute;
    width: 1169px;
    height: 0px;
    border-bottom: 1px solid #a8a8a8;
}

/* content styles */

.content4 {
    top: 126px;
    left: calc(50% - 870px / 2);
    width: 870px;
    height: 329px;
}

.topRow4 {
    left: calc(50% - 821px / 2);
    width: 821px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topRow4 div {
    cursor: grab;
}

.bottomRow4 {
    top: 80px;
    height: 179px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.basket4first,
.basket4second,
.basket4third {
    width: 270px;
    height: 179px;
    border: 1px solid #d0d0d0;
    box-sizing: border-box;
    border-radius: 5px;
}

.headerBasket4 {
    top: -1px;
    width: 269.5px;
    height: 28px;
    background: #205b64;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    /* below text styles */

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
}

.expression4 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 116px;
    height: 70px;
    background: #bad7de;
    border: 1px solid #bad7de;
    box-sizing: border-box;
    border-radius: 5px;

    /* below text styles */

    position: static;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    margin-right: 10px;
}
